@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(./fonts/Ubuntu/Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"),
    url(./fonts/Pacifico/Pacifico-Regular.ttf) format("truetype");
}
